.productScreen {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  align-content: center;
  box-sizing: border-box;
}

/* .backBtn {
  background: rgb(238, 118, 118);
  color: white;
  padding: 10px;
  border-width: 0;
  border-radius: 5px;
}

.backBtn:hover {
  box-shadow: 0 0 9px 1px rgb(238, 118, 118);
  cursor: pointer;
} */

.imgProduct > img {
  position: relative;
  width: 450px;
  height: 600px;
  margin-bottom: 20px;
}

.infoCol {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  font-size: large;
  border-radius: 10px;
  /* box-shadow: 0 0 9px 1px rgb(238, 118, 118); */
}
.productSmallImage > img {
  height: 70px;
  width: 60px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
}

.productSmallImage {
  display: flex;
  flex-direction: column;
}

.product_name {
  font-size: 24px;
  font-weight: bold;
}

.product_price {
  color: gray;
}

.status {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  line-height: 35px;
  font-size: large;
  border-radius: 10px;
  height: 300px;
  width: 300px;
  box-shadow: 0 0 9px 1px rgb(238, 118, 118);
}

li {
  list-style-type: none;
}

.btn_Cart {
  padding: 10px;
  background-color: rgba(175, 147, 21, 0.966);
  border: none;
  border-radius: 5px;
  width: 100%;
  color: white;
  margin-top: 10px;
}

.btn_Cart:hover {
  box-shadow: 0 0 5px 0.5px rgba(175, 147, 21, 0.8);
  cursor: pointer;
}

.review {
  color: blue;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 500;
}

.rating {
  display: flex;
  align-items: center;
}

.option {
  border-width: 0;
  outline-width: 0;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
